<h1>Diary</h1>
<form>
  <label for="Title">Title</label>
  <input id="input" class="form-group" [(ngModel)]="model.title" name="title"><br>
  <label for="Entry">Entry</label>
  <textarea class="form-control" id="txtarea" [(ngModel)]="model.entry" name="entry"></textarea><br>
  <p>Written on {{ today | date: 'short' }}</p>
  <button id="btndelete" (click)="onDelete()" class="btn btn-danger">Delete</button>
  <button id="btnadd" (click)="onAdd()" class="btn btn-primary">Add</button>
</form><br>

<div>
    <h2>Diary Entry:</h2>
    <p>{{ currentEntry }}</p>
  </div>