<h1>Diary</h1>
<form>
  <label for="Title">Title</label>
  <input id="input" class="form-group" [(ngModel)]="model.title" name="title" required #title="ngModel"><br>
  <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
      <p> Title is Required</p>
      
  </div>
  <label for="Entry">Entry</label>
  <textarea id="txtarea" rows="4" cols="50" [(ngModel)]="model.entry" name="entry" required #entry="ngModel"></textarea><br>
  <div [hidden]="entry.valid || entry.pristine" class="alert alert-danger">
      <p> Entry is Required</p>
      
  </div>
  <p id="time">Written on {{ model.date | date:'fullDate' }}</p>
  <button id="btndelete" class="btn btn-danger">Delete</button>
  <button id="btnadd" (ngSubmit)="onSubmit()" class="btn btn-primary">Add</button>
</form><br>

<div>
    <h2>Diary Entry:</h2>
    <!-- <p>{{ currentEntry }}</p> -->
    <p><span>Title: </span>{{model.title}}</p>
    <p><span>Entry: </span>{{model.entry}}</p>
  </div>

  <!-- <div class="container">
  <div class="row">
    <app-root (addEntry)="addNewEntry($event)"></app-root>
  </div>
  </div> -->